[Unit]
Description=Timer for docker_container_status.service
 
[Timer]
OnUnitActiveSec=10s
OnBootSec=10s

[Install]                                                                                                           
WantedBy=timers.target
