[Unit]
Description=Remove 7days old backup

[Service]
User=root
Workingdir=dir_till_script
ExecStart=removebackup.sh
Restart=always


[Install]
WantedBy=multi-user.target














